.project {
    background-color: #f0f4ff;
    padding: 20px;
  }
  
  .project-header {
    text-align: center;
    color: #2c3968;
    padding-top: 70px;
    font-size: 36px;
  }
  
  .project-list {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
    gap: 30px;
    padding: 0 20px 40px;
  }
  
  /* Medium devices (tablets >= 600px) */
  @media screen and (min-width: 600px) {
    .project-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Large devices (desktops >= 1024px) */
  @media screen and (min-width: 1024px) {
    .project-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  